@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Poppins:wght@500&family=Varela+Round&display=swap');

* {
  margin     : 0;
  padding    : 0;
  box-sizing : border-box;
  font-family: "poppin", sans-serif;
}

html {
  font-size: 62.5%;

}

body {
  background-color     : #4771a3;
  display              : flex;
  min-height           : 100vh;
  flex-direction       : column;
  background-image     : url(../img/messias.jpg);
  background-size      : cover;
  background-attachment: fixed;
}

/* SECCION HEADER */

header {
  background-color: #333;
  opacity         : 75%;
}

.icono {
  width : 90px;
  height: 90px;
}

.contenedor-header {
  color          : #fff;
  display        : flex;
  justify-content: space-between;
}

.cont-nav {
  max-width: 180vh;
  margin   : 0px auto;
}

nav ul {
  list-style     : none;
  margin         : 0;
  padding        : 0;
  display        : flex;
  justify-content: space-evenly;
  align-items    : center;
  margin-right   : 2.5em;
}

header nav li {
  margin : 2em 1em;
  padding: .25em;
}

header nav ul li {
  font-size: 1.5em;
}

header nav ul li a {
  color: #fff;

}

nav ul li:hover {
  background-color: #2c6b74;
  text-decoration : underline;
  border-radius   : 5px;
  cursor          : pointer;
}


/* SECCION FOOTER */

footer {
  background-color      : #333;
  color                 : #fff;
  /* justify-content    : space-between; */
  /* padding            : 20px; */
  margin-top            : auto;
  opacity               : 75%;
}

footer nav ul li a:hover {
  text-decoration: underline;
}

.copy p {
  text-align      : center;
  justify-items   : center;
  background-color: #333;
  color           : aliceblue;
  padding         : .5em;
  opacity         : 75%;
}

footer nav {
  display        : flex;
  justify-content: space-between;
  padding-right  : 3em;
}

footer ul {
  display       : flex;
  flex-direction: column;
  margin-top    : 2.5em;
  margin-left   : 2em;
}

footer picture {
  margin-top: 2.5em;
}

footer nav ul {
  align-items: start;
}


/* SECCION INFORMACION */

.container-info {
  display         : flex;
  flex-direction  : column;
  width           : 90%;
  height          : auto;
  margin          : 1em auto;
  background-color: #fbfbfb;
  padding-top     : 1.5em;
  border-radius   : 5px;
  padding-bottom  : 2em;
  padding-left    : 3em;
  max-width       : 180vh;
  opacity         : .9;
}

.container-ifo-dev a {
  color: #333;
}

.container-ifo-dev p {
  font-size  : 1.5em;
  font-weight: bold;
}

.container-info-afa p {
  padding: .5em 2em .5em 0;
}